{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
  <div class="mydropdown-box">
    <h5 class="edit-btn mr-3 mb-3">{{ request.user.email }}</h5>
    <span class="mydropdown edit-btn">
        <span>About</span>
        <div class="mydropdown-content">
            <div><a class="" href="https://alfiomartini.github.io" target="_blank">
              Github Page
               </a></div>
            <div><a href="https://github.com/alfiomartini/mail" target="_blank">Source Code</a></div>
            <div><a class="readme-link" href="">Readme</a></div>
            <div><a class="readme-link" href="https://youtu.be/2oK7NToNfp4" target="_blank">Whatch me</a></div>
        </div>
    </span>
  </div>
    <div class="buttons">
        <button class="btn btn-sm btn-outline-primary m-2" id="inbox">Inbox</button>
        <button class="btn btn-sm btn-outline-primary m-2" id="compose">Compose</button>
        <button class="btn btn-sm btn-outline-primary m-2" id="sent">Sent</button>
        <button class="btn btn-sm btn-outline-primary m-2" id="archived">Archived</button>
        <a class="btn btn-sm btn-outline-primary m-2" href="{% url 'logout' %}">Log Out</a>
    </div>
    <hr>

    <div id="emails-view"></div>
    <div id="compose-view">
        <h3 class="inbox-title">New Email</h3>
        <form id="compose-form">
            <div class="form-group">
               <label for="">From:</label> <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
               <label for="">To:</label> <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary mt-3" value="Send"/>
        </form>
    </div>
    <div id="readme-view">
        <div class="readme-wrapper">
            <div class="readme">
                <p>This application is a <strong>front-end</strong> for an email client that makes calls to an existing  API written in <strong>Django</strong>. The API supports GET, POST and PUT requests to send, receive and get messages from a database. I extented it to deal with DELETE requests as well. No actual messages are sent. The front-end is written with <em>HTML</em>, <em>CSS</em>, <em>Bootstrap</em> and <em>JavaScript</em>. The entire application is just a single page, with JavaScript used to control de interface. The interface supports basic <em>registration</em> and <em>authentication</em> of users, display of <em>inbox</em>, <em>sent</em> and <em>archived</em> messages. <em>Read</em> and <em>unread</em> messages are displayed with a <em>gray</em>, respectively <em>white</em>,  background.  Inbox messages can be replied, (un)archived, deleted and marked as unread.</p>
            </div>
          </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}