{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Mail{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
        <link  href="{% static 'mail/favicon.ico' %}" rel="icon">
        <style>
            body{
                background-color: #330033;
                background-image: url('{% static "mail/img/muukii-mailbox-unsplash-min-1400-900.jpg" %}');
                background-repeat: no-repeat;
                background-position: center left;
                background-size: cover;
                background-attachment: fixed;
                height: 100vh;
        }
        </style>
    </head>
    <body>
        <div class="main">
            {% block body %}
            {% endblock %}
            {% block script %}
            {% endblock %}
        </div>
    </body>
</html>