{% extends "mail/layout.html" %}

{% block body %}

    <h3 class="inbox-title">Login</h3>

    {% if message %}
        <div class="message mb-4">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

    <a class="edit-btn mt-4" href="{% url 'register' %}">Don't have an account? Register here.</a>

{% endblock %}