{% extends "mail/layout.html" %}

{% block body %}

    <h3 class="inbox-title">Register</h3>

    {% if message %}
        <div class="message mb-4">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    <a class="edit-btn mt-4" href="{% url 'login' %}">Already have an account? Log in here.</a>

{% endblock %}